<table border="0" cellpadding="2">
  <tr>
    <% %w[M T W Th F].each do |day| %>
      <th><%= day %></th>
    <% end %>
  </tr>
  <% if @marches[team.id][team_member.id] %>
    <tr>
      <% (@start_date + 1.day).step(@end_date - 1.day) do |day| %>
        <td>
          <% if @marches[team.id][team_member.id][day] && (@marches[team.id][team_member.id][day] > 4 || (1..5).include?(day.wday)) %>
            <i class="fa fa-circle" style="color:<%= amount_to_color(@marches[team.id][team_member.id][day]) %>" title="<%= @marches[team.id][team_member.id][day] %>"></i>
          <% end %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% (@start_date + 1.day).step(@end_date - 1.day) do |day| %>
        <td>
          <% if off_day = team_member.off_days.find_by(off_day: day) %>
            <%= off_day.reason.first.upcase %>
          <% else %>
            <% if @marches[team.id][team_member.id][day] && (@marches[team.id][team_member.id][day] > 4 || (1..5).include?(day.wday)) %>
              <%= number_with_precision(@marches[team.id][team_member.id][day], precision: 1) %>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% (@start_date + 1.day).step(@end_date - 1.day) do |day| %>
        <td>
          <% if @work[team.id][team_member.id][day] && (@work[team.id][team_member.id][day] > 4 || (1..5).include?(day.wday)) %>
            <%= number_with_precision(@work[team.id][team_member.id][day], precision: 1) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
