Week of <%= @start_date.to_s(:long) %> |
<%= link_to('Click here for YTD summary', team_members_path) %>
<table>
<% @teams.each do |team| %>
  <% next unless @team_days[team.id] %>
  <tr style="padding-bottom:50px">
    <td>
      <h2>
        <%= team.name %>
        <% if @team_days[team.id] %>
          <% active_days_count = @team_days[team.id].select {|day, hours| hours.to_f > 1}.length %>
          <% if active_days_count > 0 %>
            <i class="fa fa-circle" style="color:<%= amount_to_color(@team_days[team.id][:cumulative]) %>" title="<%= round(@team_days[team.id][:cumulative]) %>"></i>
          <% end %>
        <% end %>
      </h2>
      <table border="0" cellpadding="2">
        <tr>
          <% %w[M T W Th F].each do |day| %>
            <th><%= day %></th>
          <% end %>
        </tr>
        <% if @team_days[team.id] %>
          <tr>
            <% (@start_date + 1.day).step(@end_date - 1.day) do |day| %>
              <td>
                <% amount = (@team_days[team.id][day] || 0)
                   if amount > 0
                     amount = round(amount / @marches[team.id].select {|member, days| days[day].to_f > 0}.length)
                   else
                    next
                   end %>
                <% if @team_days[team.id][day] && (amount > 4 || (1..5).include?(day.wday)) %>
                  <i class="fa fa-circle" style="color:<%= amount_to_color(amount) %>" title="<%= amount %>"></i>
                <% end %>
              </td>
            <% end %>
          </tr>
          <tr>
            <% (@start_date + 1.day).step(@end_date - 1.day) do |day| %>
              <td>
                <% amount = (@team_days[team.id][day] || 0)
                   if amount > 0
                     amount = round(amount / @marches[team.id].select {|member, days| days[day].to_f > 0}.length)
                   else
                    next
                   end %>
                <% if @team_days[team.id][day] && (amount > 4 || (1..5).include?(day.wday)) %>
                  <%= amount %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </td>

    <% team.team_members.each do |team_member| %>
      <% display_number = (current_user.id == team_member.id || current_user.leader? || team_member.team_id == 1) %>
      <td>
        <div style="border:1px solid black; margin:10px; padding: 10px">
          <h3>
            <%= link_to(team_member.name, rescue_team_member_path(team_member), remote: true) %>
            <% if @marches[team.id][team_member.id] && display_number %>
              <% active_days_count = @marches[team.id][team_member.id].select {|day, hours| hours.to_f > 0.2}.length %>
              <% if active_days_count > 0 %>
                <% avg = @marches[team.id][team_member.id].sum {|day, hours| hours} / active_days_count %>
                <i class="fa fa-circle" style="color:<%= amount_to_color(avg) %>" title="<%= round(avg) %>"></i>
              <% end %>
            <% end %>
          </h3>
          <div id="js-rescue_details_<%= team_member.github_login %>" style="display:none"></div>
          <div>
            <%= render 'rescue_time', team_member: team_member, team: team if @marches[team.id] && display_number %>
          </div>
          <div>
            <% if @events[team_member.id] %>
              <% commit_count = @events[team_member.id].length %>
              <% if commit_count > 0 %>
                <%= link_to("commits (#{commit_count})", '#', class: 'js-commits', data: {login: team_member.github_login}) %>
                <div id="js-commits_<%= team_member.github_login %>" style="display:none">
                  <%= render 'events', team_member: team_member %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<%= link_to('Previous week', teams_path(start_date: @start_date - 1.week), style: 'float:left') %>
<% if @start_date < Date.today.beginning_of_week(:sunday) %>
  <%= link_to('Next week', teams_path(start_date: @start_date + 1.week), style: 'float:right') %>
<% end %>
<script type="text/javascript" charset="utf-8">
  setTimeout(function() {
    document.location = '/teams'
  }, 600000);
</script>
