<% @teams.each do |team| %>
  <div style="float:left;padding-right:50px">
    <h2>
      <%= team.name %>
      <% active_days_count = @team_days[team].select {|day, hours| hours.to_f > 1}.length %>
      <% if active_days_count > 0 %>
        <% team_march_goal = active_days_count * @marches[team].length %>
        <% amount = ((@team_days[team].sum {|day, hours| hours} / team_march_goal) * 100).round / 100.0 %>
        <i class="icon-circle" style="color:<%= amount_to_color(amount) %>" title="<%= amount %>"></i>
      <% end %>
    </h2>
    <table border="0">
      <tr>
        <% %w[Su M T W Th F S].each do |day| %>
          <th><%= day %></th>
        <% end %>
      </tr>
      <tr>
        <% Date.today.beginning_of_week(:sunday).step(Date.today.end_of_week(:sunday)) do |day| %>
          <td>
            <% amount = (@team_days[team][day] || 0)
               if amount > 0
                 amount /= @marches[team].select {|member, days| days[day].to_f > 0}.length
               else
                next
               end %>
            <% if @team_days[team][day] && (amount > 4 || (1..5).include?(day.wday)) %>
              <i class="icon-circle" style="color:<%= amount_to_color(amount) %>" title="<%= amount %>"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
    </table>

    <% team.team_members.each do |team_member| %>
      <h3><%= team_member.name %></h3>
      <div>
        <%= render 'rescue_time', team_member: team_member, team: team if @marches[team] %>
      </div>
      <div>
        <%= link_to('commits', '#', onclick: "$('#js-commits_#{team_member.github_login}').dialog({width: 'auto'});return false;") %>
        <div id="js-commits_<%= team_member.github_login %>" style="display:none">
          <%= render 'events', team_member: team_member %>
        </div>
      </div>
      <div style="clear:both"></div>
    <% end %>
  </div>
<% end %>
