<% @team.team_members.each do |team_member| %>
  <h2><%= team_member.name %></h2>
  <div>
    <%= render 'rescue_time', team_member: team_member %>
  </div>
  <div>
    <%= link_to('commits', '#', onclick: "$('#js-commits_#{team_member.github_login}').toggle();return false;") %>
    <div id="js-commits_<%= team_member.github_login %>" style="display:none">
      <%= render 'events', team_member: team_member %>
    </div>
  </div>
  <div style="clear:both"></div>
<% end %>
