<h2><%= @team_member.name %> - <%= @date.to_s(:long) %></h2>
<%= link_to('previous day', rescue_team_member_path(@team_member, start_date: @date - 1.day), remote: true) %>
<% if @date < Date.today %> |
  <%= link_to('next day', rescue_team_member_path(@team_member, start_date: @date + 1.day), remote: true) %>
<% end %>
  <br /><br />
<% if off_day = @team_member.off_days.find_by(off_day: @date) %>
  <%= link_to("Unmark as #{off_day.reason}", off_day_path(off_day), method: :delete) %>
<% else %>
  Mark as:
  <% %w[sick vacation holiday mpd admin].each do |reason| %>
    <%= link_to(reason, off_days_path(team_member_id: @team_member.id, off_day: @date, reason: reason), method: :post) %>
  <% end %>
<% end %>
<% if current_user.leader? %>
<table border="0" cellpadding="5">
  <tr>
    <th>Time Spent</th>
    <th>Thing</th>
    <th>Category</th>
  </tr>
  <tbody>
    <% @rows.select { |row| row[1] >= 5.minutes }.each do |row| %>
      <tr>
        <td><%= distance_of_time_in_words(row[1]) %></td>
        <td><%= row[3] %></td>
        <td><%= row[4] %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot style="border: 1px solid black; background: #f0f0f0">
    <% cat_rows = @rows.select { |row| row[1] < 5.minutes }
                       .group_by { |row| row[4] }
                       .collect { |cat, cat_rows| [cat, cat_rows.sum {|r| r[1].to_i}] }
                       .select { |c| c[1] >= 5.minutes }
                       .sort_by {|c| c[1]}
                       .reverse %>
    <% cat_rows.each do |c| %>
      <tr>
        <td><%= distance_of_time_in_words(c[1]) %></td>
        <td>misc</td>
        <td><%= c[0] %></td>
      </tr>
    <% end %>
  </tfoot>

</table>
<% end %>
